.nav-text {
  color: rgb(114, 214, 114);
  text-decoration: none;
  font-family: 'Potta One', cursive;
}
.nav-text:hover {
  color: rgb(90, 168, 90);
}

#logo {
  color: rgb(67, 124, 67);
  text-decoration: none;
  font-size: 25px;
  font-weight: 1000;
  font-family: 'Potta One', cursive;
}
#logo:hover {
  color: rgb(46, 87, 46);
}

#front-img {
  max-width: 100%;
}

.img-hover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.img-hover:hover {
  opacity: 0.4;
}

.btn-green {
  background-color: rgb(114, 214, 114);
  border-color: rgb(114, 214, 114);
}
.btn-green:hover {
  background-color: rgb(90, 168, 90);
  border-color: rgb(90, 168, 90);
}

.vi {
  text-align: center;
}

.image-aboutus-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgb(114, 214, 114) !important;
}

.btn-outline-green {
  border-color: rgb(114, 214, 114);
  color: rgb(114, 214, 114);
}
.btn-outline-green:hover {
  border-color: rgb(114, 214, 114);
  color: white;
  background-color: rgb(114, 214, 114);
}

.bg-card-1 {
  background-color: #fac74a;
  border-color: white;
}
.btn-round-1 {
  color: white;
  background-color: #edae44;
  border-radius: 35px;
  border: 1px solid #edae44;
}
.btn-round-1:hover {
  color: #edae44;
  background-color: white;
  border-radius: 35px;
  border: 1px solid #edae44;
}

.bg-card-2 {
  background-color: #b1e059;
  border-color: white;
}
.btn-round-2 {
  color: white;
  background-color: #7fb21f;
  border-radius: 35px;
  border: 1px solid #7fb21f;
}
.btn-round-2:hover {
  color: #7fb21f;
  background-color: white;
  border-radius: 35px;
  border: 1px solid #7fb21f;
}

.bg-card-3 {
  background-color: #4fcad9;
  border-color: white;
}
.btn-round-3 {
  color: white;
  background-color: #6693c2;
  border-radius: 35px;
  border: 1px solid #6693c2;
}
.btn-round-3:hover {
  color: #6693c2;
  background-color: white;
  border-radius: 35px;
  border: 1px solid #6693c2;
}

.team-content {
  padding: 0px 15px 15px 15px;
}
.border-team {
  border-bottom:1px solid #e2e2e2;
  margin-bottom:10px;
}
.team-img:hover {
  background:#f5f5f5;
  
}

.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.thumbnail>img {
  margin-right: auto;
  margin-left: auto;
}

.thumbnail>img {
  display: block;
  height: auto;
  max-width: 100%;
}

.ref {
  margin-bottom: 5px;
}


